body {
  margin: 0em;
  padding: 0em;
}

.colorzz {
  color: #c45e79;
  color: #79101b; 
  color: #341010;
  color: #2a668e;
  color: #ffffff;
  color: #f0da81;
  color: #4abd6e;
  color: #22437c;
  color: #8bf096;
  
  color: #ffffff;
  color: #858282;
  color: #dde0e0;
  color: #616464;
  color: #a19696;
  color: #c6c1c2;
  color: #141313;

  color: #f9f9f9;

  color: palevioletred;
  color: rgb(253, 207, 90);
}