.home-page {
    /* height: 100em; */
}
.home-background-color {
    height: 100vh;
    background: #E55D87;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-title {
    margin-top: -0.5em;
    color: #8a3369;
    text-align: center;
}
.side-title {
    font-size: 1.75em;
    color: #8a3369;
    text-align: center;
}
.home-splash-block {
    margin-top: 1em;
    background-color: rgba(0,0,0,0) !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.home-splash-img {
    background-color: rgba(0,0,0,0) !important;
}
.home-title-main-text {
    margin-top: -3.25em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.45em;
}
.track-btn-block {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 18em;
}
.track-btn {
    width: 18em;
}