.manufacturer-bg {
    background: #E55D87;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

.map-section {
    position: relative;
    z-index: -10;
}
.splash-sticker {
    position: fixed;
    top: 10.5%;
    left: 55%;
    width: 100%;
    z-index: 10;
}

.manufactuer-section {
    height: 45em;
    width: 40em;
}
.manufacturer-header {
    height: 4em;
}